body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
}


.navbar-container{
    background-color: black;
    height: 80px;

}

.navbar{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-icon svg{
    fill: white;
    color: white;
    width: 100%;
    height: 45px;
}

.navbar-menu{
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar-menu a{
    color: white;
    text-decoration: none;
    padding: 31px 17px;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}

.navbar-menu a:hover{
    color: #1ed760

}

.navbar-menu p{
    color: white;
    text-decoration: none;
    padding: 31px 17px;
    font-weight: 500;
    margin: 0;
}





/* banber---------------------- */

.banner{
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size: 175%;
    background-position: 46% 4%;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 846px;
    background-color: rgb(41, 65, 171);

    height: 100vh;
    text-align: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;


}


.banner-container h1{
    width: 744px;
    font-size: 156px;
    line-height: 166px;
    padding-bottom: 40px;
    color: #1ed760;
    letter-spacing: -0.04em;
    margin-top: 0;
    margin-bottom: 0;
}


.banner-description{
    width: 800px;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 40px;
    padding: 0px 0px 1em;
    color: #1ed760;

    margin-top: 0;


}

.banner-boton{
    padding: 14px 32px;
    border-radius: 500px;
    color: #2941AB;
    background-color:#1ed760 ;
    text-decoration: none;
    line-height: 20px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: normal;
    font-size: 14px;
}

.banner-boton:hover{
    background-color: #2DE26D  ;
    padding: 15px 33px;
    font-size: 15px;
}



/*Footer------------------------------------------*/

.footer{
    background-color: black;
    padding: 80px 0 50px;
}

.footer-menu-icon svg{
    fill: white;
    color: white;
    width: 100%;
    height: 45px;
}


.footer-menu{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.footer-menu-options{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.footer-menu-options dl{
    flex: 1 0;
    padding: 0 15px;
    margin: 0;
}

.footer-menu-options dl dt{
    margin: 20px auto;
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
}

.footer-menu-options dl  dd{
    display: block;
    margin-inline-start: 40px;
    margin: 0 auto;

}

.footer-menu-options dl dd a{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    padding: 3px 0 15px;
    color: white;
    text-align: left;
}


.footer-menu-options dl dd a:hover{
    color: #1ed760
}


.footer-menu-sociales{
    width: 20%;
    height: 250px;
    display: flex;
    justify-content: space-around;
}


.footer-menu-sociales a{
    border-radius: 50%;
    background-color: #222326;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}


.footer-menu-sociales a svg{
    width: 100%;
    height: 25px;
}


.footer-menu-sociales a:hover{
    color: #1ed760
}


.footer-country{
    display: flex;
    justify-content: right;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;

}

.footer-country a{
    text-decoration: none;
    color: #919496;
    margin-left: 5px;
    font-size: 12px;
}

.footer-country a:hover, .footer-legal-lista a:hover{
   
    color: #1ed760
}



.footer-legal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    padding: 10px 0;

}

.footer-legal-lista{
    margin: 0 45px 0 0;
    padding: 0 0 0 15px;
}

.footer-legal-lista a{
    margin-right: 24px;
    text-decoration: none;
    color: #919496;
    margin-left: 5px;
    font-size: 12px;
    padding: 1em 0;
}

.footer-legal-derechos span{
    color: #919496;
    font-size: 12px;
    padding: 1em 0;
}




/*Seccion Premium---------------------------------
-----------------------------------
-----------------------------------------------*/


.inicio{
    background-color: rgb(29, 117, 222);
}

.inicio-container{
    text-align: inherit;
    padding-top: 72px;
    padding-bottom: 40px;
    max-width: 1170px;
    margin: 0 auto;
    color: white;
}

.inicio-info h1{
    font-size: 40px;
}

.inicio-info p{
    font-size: 24px;
    margin-bottom: 0px;
}

.inicio-botones{
    margin: 35px 0px 0px;
    display: flex;
   
}

.inicio-botones-empezar{
    margin-right: 8px;
    margin-bottom: 0px;
    
    padding: 5px;
    height: 50px;
    width: 140px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.inicio-botones-empezar a{
    border: 2px solid rgb(25, 20, 20);
    font-size: 14px;
    line-height: 20px;
    text-transform: none;
    letter-spacing: normal;
    background-color: #191414;
    margin-right: 8px;
    margin-bottom: 0px;
    padding: 14px 32px;
    border-radius: 500px;
    color: white;
    text-decoration: none;
}

.inicio-botones-planes{
    margin-right: 8px;
    margin-bottom: 0px;
    
    padding: 5px;
    height: 50px;
    width: 180px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.inicio-botones-planes a{
    border: 2px solid rgb(255, 255, 255);
    font-size: 14px;
    line-height: 20px;
    text-transform: none;
    letter-spacing: normal;
    margin-right: 8px;
    margin-bottom: 0px;
    padding: 14px 32px;
    border-radius: 500px;
    color: white;
    text-decoration: none;
}


.inicio-botones-empezar a:hover, .inicio-botones-planes a:hover{
    font-size: 15px;
    padding: 15px 33px;

}

.inicio-terminos{
    font-size: 12px;
    margin-top: 40px;
    width: 100%;
}


.inicio-terminos p{
    max-width: 630px;
    padding: 0px 0px 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.25px;
}

.inicio-terminos p a{
    color: white;
}

/*premium beneficios---------------------------------
----------------------------------------------------
---------------------------------------------------*/

.beneficios-container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 75px 15px;

}

.beneficios-title{
    margin-bottom: 72px;
    text-align: center;
    line-height: 1.5;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    padding: 0px;
    font-size: 24px;
}


.beneficios-lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.beneficios-lista li{
  
    display: flex;
    flex-direction: column;
    width: 270px;
    flex-grow: 1;
    margin: 0 auto;
}


.beneficio-imagen{
    margin: 0px auto 40px;
    flex-grow: 1;
    width: 142px;
    height: 142px;
}

.beneficio-info{
    text-align: center;
}

.beneficio-info-title{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 21px;
    padding: 0px;
    line-height: 1.3em;
}

.beneficio-info-description{
    line-height: 1.5;
    font-size: 16px;
    padding: 0px;
}


/*Planes premium----------------------------------------
-----------------------------------------------------
-----------------------------------------------------*/

.planes{
    background-color: #efefef;
}

.planes-container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 75px 15px;
}

.planes-title {
    text-align: center;
    font-size: 24px;
    margin: 0;
}

.planes-title h2{
    margin: 0;
    letter-spacing: -1.6px;
}

.planes-title h3{
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0px;
    text-align: center;
    padding: 0px;
}


.planes-tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.planes-tarjetas ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.planes-tarjetas ul li{
    margin-right: 7px;
}

.planes-tarjetas ul li img{
    width: 29px;
    height: 20px;
}

/*planes premium------------------------------------------------------
--------------------------------------------------------------------
---------------------------------------------------------------*/

.planes-premium{
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin: 50px 0px 26px;
}

.planes-premium-header{
    position: relative;
    color: rgb(0, 0, 0);
    border-radius: 10px 10px 0px 0px;
    padding-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    box-shadow: rgb(255 255 255) 0px 8px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
    grid-row: 1 / auto;
    padding-top: 16px;
    margin: 0px 16px 0px 0px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(255, 255, 255);
}

.planes-premium-header ul{
    margin: 0px;
    padding: 0px;
}

.etiqueta-azul{
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 8px;
    display: inline-block;
    font-weight: 900;
    margin: 0px 4px 10px 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(46, 119, 208);
}


.etiqueta{
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 8px;
    display: inline-block;
    font-weight: 900;
    margin: 0px 4px 10px 0px;
    margin-block: 0px 10px;
    color: rgb(46, 119, 208);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(46, 119, 208);
}


.planes-premium-header h3{
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    margin: 0px 0px 5px;
    padding: 0px;
}

.planes-premium-header-p{
    color: rgb(0, 0, 0);
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0px 0px 2px;
    
}

hr{
    align-self: stretch;
    border-color: rgb(204, 204, 204);
    margin: auto 0px 0px;
}

.planes-premium-body{
    grid-row: 2 / auto;
    padding-top: 20px;
    padding-bottom: 16px;
    list-style: none;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;
    margin-top: 0px;
    margin: 0px 16px 0px 0px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(255, 255, 255);
}

.planes-premium-body li{
    display: flex;
    
    margin-bottom: 5px;
}

.planes-premium-body li svg{
    padding: 0px 10px 0px 0px;
    stroke-width: 1pt;
    height: 24px;
    width: 24px;
    display: inline-block;
    overflow: hidden
}

.planes-premium-body li p{
    color: rgb(0, 0, 0);
    line-height: 22px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}


.planes-premium-boton{
    grid-row: 3 / auto;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: rgb(255 255 255) 0px -9px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
    text-align: center;
    margin: 0px 16px 0px 0px; 
    background-color: rgb(255, 255, 255);
    height: 25px;
}

.planes-premium-boton a{
    font-weight: 700;
    background-color: #191414;
    border-radius: 500px;
    text-decoration: none;
    width: 100%;
    color: white;
    padding: 14px 72px;
    font-size: 14px;
}

.planes-premium-boton a:hover{
    padding: 15px 73px;
    font-size: 15px;

}

.planes-premium-footer{

    grid-row: 4 / auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgb(255 255 255) 0px -9px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
    padding-top: 4px;
    padding-bottom: 20px;
    margin: 0px 16px 0px 0px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(255, 255, 255);
    max-width: 400px;
}

.planes-premium-footer p{
    margin-top: 12px;
    color: rgb(83, 83, 83);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: left;
}

.planes-premium-footer a{
    color: rgb(83, 83, 83);
}
